In [1]:
import pandas as pd
import numpy as np
import os
import shutil
from astropy.utils.data import download_file

In [2]:
grb_names = pd.read_table("Summary_table.txt", sep = '\s+', header = 0, names = ['Swift', 'Fermi'], skiprows = [0,1,2], usecols = [0,1])
grb_names = grb_names.set_index('Swift')
display(grb_names)

                   Fermi
Swift
GRB211025A          None
GRB211024B          None
GRB211024A  GRB211024065
GRB211023B          None
GRB211023A  GRB211023546
...                  ...
GRB910425B          None
GRB910425A          None
GRB910424A          None
GRB910423A          None
GRB910421A          None

[7685 rows x 1 columns]

In [3]:
Swift_table = pd.read_csv("DataFrames/classification_Swift.txt").set_index('GRBname')
display(Swift_table)

           type
GRBname
GRB041217     L
GRB041219C    L
GRB041220     L
GRB041223     L
GRB041224     L
...         ...
GRB200729A    L
GRB200806A    L
GRB200809B    L
GRB200819A    L
GRB200829A    L

[1321 rows x 1 columns]

In [4]:
Fermi_table = pd.read_csv("DataFrames/classification_Fermi.txt").set_index('GRBname')
display(Fermi_table)

             type
GRBname
GRB080714086    L
GRB080714425    L
GRB080714745    L
GRB080715950    L
GRB080717543    L
...           ...
GRB180715755    S
GRB180720598    L
GRB180913783    S
GRB181126162    S
GRB200415367    S

[2294 rows x 1 columns]

In [5]:
Swift_grbs = []
Fermi_grbs = []
for name in Swift_table.index:
    Swift_name = name
    if(name[len(name)-1:] not in 'ABCD'):
        name = name + 'A'
    if(name in grb_names.index.tolist()):
        if(grb_names.loc[name, 'Fermi'] in Fermi_table.index):
            Swift_grbs.append(Swift_name)
            Fermi_grbs.append(grb_names.loc[name, 'Fermi'])

In [6]:
intersection = pd.DataFrame({'Swift': Swift_grbs, 'Fermi': Fermi_grbs})
display(intersection)
intersection.set_index('Swift').to_csv('DataFrames/intersection_Swift_Fermi.csv')

          Swift         Fermi
0     GRB080714  GRB080714745
1     GRB080725  GRB080725435
2    GRB080727C  GRB080727964
3     GRB080804  GRB080804972
4    GRB080905A  GRB080905499
..          ...           ...
302  GRB180620B  GRB180620660
303  GRB180630A  GRB180630467
304  GRB180706A  GRB180706351
305  GRB180715A  GRB180715755
306  GRB180720B  GRB180720598

[307 rows x 2 columns]